@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

/* .geist-<uniquifier> {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F8F5F0;
    overflow-x: hidden;
}
.logo{
    width: 150px;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    margin-right: 3rem;
}
.container-left{
    float: left;
    width: 45%;
}
.container-right{
    float: right;
    width: 55%;
    height: 100vh;
    background-image: url("CoverWDK.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.nav-container-left-L, .nav-container-left-R{
    display: flex;
    align-items: center;
    width: 50%;
    float: left;
}
.nav-container-right{
    padding: 1.5rem;
    display: flex;
    position: absolute;
    right: 30px;
}
.socials{
    display: flex;
    gap: 15px;
    top: 50px;
    position: absolute;
}
.socials a{
    text-decoration: none;
    color: #000000;
}
h1{
    padding: 1%;
    margin-top: 15%;
    display: inline-block;
    font-family: "Geist", sans-serif;
    font-size: 2rem;
    color: #000000;
    line-height: 1.5;
}
button{
    padding: 1rem 2rem;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: "Geist", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
button:hover{
    background: linear-gradient(to right, #e8c9fc, #e4cce7, #f7d7fe);
    color: #000000;
}
h3{
    font-family: "Geist", sans-serif;
    font-size: 0.8rem;
    color: #000000;
    line-height: 1.5;
    font-weight: lighter;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
b{
    margin-right: 1rem;
    font-family: "Geist", sans-serif;
    background-color: #e4afeb;
    gap: 5px;
    padding: 5px 10px;  
    border-radius: 10px;
}

/* FORMS  */
.luxury-contact{
padding:120px 30px;
background:transparent;
font-family:Inter, sans-serif;
}
.contact-wrapper{
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:0.9fr 1.1fr;
gap:100px;
align-items:start;
}
.eyebrow{
font-size:12px;
letter-spacing:4px;
color:#e09ae9;
margin-bottom:25px;
font-weight:600;
}
.contact-intro h2{
font-size:56px;
line-height:1.05;
letter-spacing:-2px;
font-weight:600;
color:#111;
margin:0 0 25px;
}
.description{
max-width:430px;
font-size:17px;
line-height:1.8;
color:#666;
}
.contact-form{
border-top:1px solid #d9d5cd;
padding-top:35px;
}
.field-row{
display:grid;
grid-template-columns:1fr 1fr;
gap:35px;
margin-bottom:35px;
}
.field{
display:flex;
flex-direction:column;
gap:12px;
margin-bottom:35px;
}
label{
font-size:13px;
text-transform:uppercase;
letter-spacing:1px;
color:#555;
}
input,
select,
textarea{
background:transparent;
border:none;
border-bottom:1px solid #bbb;
padding:15px 0;
font-size:16px;
outline:none;
transition:.3s ease;
font-family:inherit;
}
input:focus,
select:focus,
textarea:focus{
border-color:#111;
}
textarea{
height:120px;
resize:none;
}
.submit-button{
margin-top:20px;
background: linear-gradient(to right, #e8c9fc, #e4cce7, #f7d7fe);
color:#000000;
border:none;
padding:18px 35px;
font-size:15px;
letter-spacing:.5px;
cursor:pointer;
display:flex;
gap:15px;
align-items:center;
transition:.3s ease;
}
.submit-button:hover{
    background: linear-gradient(to right, #e8c9fc, #e4cce7, #f7d7fe);

}
.submit-button span{
font-size:20px;
}

/* SHOP MODAL */ /* SHOP MODAL */ /* SHOP MODAL */ /* SHOP MODAL */ /* SHOP MODAL */
.shop-overlay{
position:fixed;
inset:0;
background:rgba(255,255,255,.35);
backdrop-filter:blur(18px);
-webkit-backdrop-filter:blur(18px);
z-index:999;
display:none;
align-items:center;
justify-content:center;
opacity:0;
transition:.4s ease;
}
.shop-overlay.show{
display:flex;
opacity:1;
}
.shop-modal{
width:min(1200px,90%);
height:80vh;
background:#fdfcf9;
border:1px solid rgba(0,0,0,.08);
display:grid;
grid-template-columns:320px 1fr;
position:relative;
box-shadow:0 40px 100px rgba(0,0,0,.15);
}
.close-shop{
position:absolute;
right:25px;
top:20px;
border:none;
background:none;
color:#111;
font-size:35px;
cursor:pointer;
z-index:2;
}
.products-list{
padding:50px 30px;
border-right:1px solid #ddd;
display:flex;
flex-direction:column;
gap:15px;
font-family: "Geist", sans-serif;
line-height:1;
}
.product-item{
display:flex;
gap:15px;
align-items:center;
padding:15px;
cursor:pointer;
transition:.3s ease;
}
.product-item img{
width:65px;
height:65px;
object-fit:cover;
}
.product-item h4{
margin:0;
font-size:15px;
}
.product-item p{
margin-top:5px;
font-size:13px;
color:#777;
}
.product-item.active{
background:#eee9df;
}
.product-details{
display:flex;
align-items:center;
justify-content:center;
gap:50px;
padding:20px;
font-family: "Geist", sans-serif;
}
.product-details > img{
width:350px;
height:450px;
object-fit:cover;
}
.details-content span{
font-size:11px;
letter-spacing:3px;
color:#cf6bca;
}
.details-content h2{
font-size:42px;
line-height:1.1;
margin:20px 0;
}
.details-content p{
color:#666;
line-height:1.7;
max-width:350px;
}
.details-content h3{
font-size:30px;
margin:25px 0;
}
.buy-button{
background:#111;
color:white;
border:none;
padding:17px 35px;
cursor:pointer;
font-size:15px;
transition:.3s ease;
}
.buy-button:hover{
background: #e8c9fc;
}
/* SHOP MODAL *//* SHOP MODAL *//* SHOP MODAL *//* SHOP MODAL *//* SHOP MODAL *//* SHOP MODAL *//* SHOP MODAL *//* SHOP MODAL */
/* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE */
/* MOBILE RESPONSIVE SHOP MODAL */

@media(max-width:900px){
.shop-modal{
width:92%;
height:90vh;
grid-template-columns:1fr;
overflow-y:auto;
}
.products-list{
border-right:none;
border-bottom:1px solid #ddd;
padding:25px;
flex-direction:row;
overflow-x:auto;
}
.product-item{
min-width:220px;
}
.product-details{
flex-direction:column;
padding:35px 25px;
gap:25px;
text-align:center;
}
.product-details > img{
width:220px;
height:280px;
}
.details-content h2{
font-size:32px;
}
.details-content p{
margin:auto;
}
}
@media(max-width:500px){
.shop-overlay{
align-items:flex-end;
}
.shop-modal{
width:100%;
height:92vh;
}
.products-list{
gap:10px;
}
.product-item{
min-width:190px;
}
.product-item img{
width:50px;
height:50px;
}
.details-content h2{
font-size:28px;
}
.buy-button{
width:100%;
}
}
/* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE *//* SHOP MODAL RESPONSIVE */





/* RESPONSIVE START */
@media (max-width: 768px){
    .container-left, .container-right{
    width: 100%;
    float: none;
}
    .logo{
    width: 100px;
}
    .nav-container-left-L, .nav-container-left-R{
    display: flex;
    align-items: center;
    width: 40%;
    float: left;
}
.socials{
    top: 40px;
}
h1{
    padding: 1%;
    margin-top: 15%;
    display: inline-block;
    font-family: "Geist", sans-serif;
    font-size: 1.5rem;
    color: #000000;
    line-height: 1.5;
}
button{
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, #e8c9fc, #e4cce7, #f7d7fe);
    color: #000000;
}
.luxury-contact{
padding:80px 20px;
margin-top:450px;
}
.contact-wrapper{
grid-template-columns:1fr;
gap:50px;
}
.contact-intro h2{
font-size:40px;
}
.field-row{
grid-template-columns:1fr;
gap:0;
}
.container-right{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position:center;
    border-radius: 30px;
    margin: 0;
    background-image: url("CoverWDK-responsive.jpg");
}
.fa-bars{
    display: none;
}
}
